clase.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="p">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="q0"/>
        <xs:element type="xs:string" name="g0"/>
        <xs:element type="xs:string" name="q"/>
        <xs:element type="xs:string" name="g"/>
        <xs:element type="xs:string" name="q2"/>
        <xs:element type="xs:string" name="g2"/>
        <xs:element type="xs:string" name="q3"/>
        <xs:element type="xs:string" name="g3"/>
        <xs:element type="xs:string" name="q4"/>
        <xs:element type="xs:string" name="g4"/>
        <xs:element type="xs:string" name="q5"/>
        <xs:element type="xs:string" name="g5"/>
        <xs:element name="as">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="a" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="r" use="required"/>
            <xs:attribute type="xs:string" name="correcta" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="x"/>
        <xs:element type="xs:string" name="t"/>
        <xs:element type="xs:string" name="i"/>
        <xs:element type="xs:string" name="x2"/>
        <xs:element type="xs:string" name="i2"/>
        <xs:element type="xs:string" name="v1"/>
        <xs:element type="xs:string" name="d1"/>
        <xs:element type="xs:string" name="v2"/>
        <xs:element type="xs:string" name="d2"/>
        <xs:element type="xs:string" name="v3"/>
        <xs:element type="xs:string" name="d3"/>
        <xs:element type="xs:string" name="v4"/>
        <xs:element type="xs:string" name="d4"/>
        <xs:element type="xs:string" name="v5"/>
        <xs:element type="xs:string" name="d5"/>
        <xs:element type="xs:string" name="v6"/>
        <xs:element type="xs:string" name="d6"/>
        <xs:element type="xs:string" name="v7"/>
        <xs:element type="xs:string" name="d7"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>